*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Lato;
}

// .container {
//   margin: 0 auto;
//   max-width: 650px;
//   padding: 0 2rem;
// }

.wrapper {
  height: 6.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4rem;
  @media screen and (min-width: 1024px) {
    justify-content: space-between;
  }

  &__home {
    text-decoration: none;
    font-size: 2.3rem;
    &--logo {
      height: 40px;
      margin-top: 1rem;
    }
    @media only screen and (min-width: 1024px) {
      margin-left: 18rem;
    }
  }
  &__links {
    display: none;
    @media only screen and (min-width: 1024px) {
      display: flex;
      font-size: 1.5rem;
      margin-right: 17rem;
      justify-content: space-evenly;
      width: 25%;
      & > * {
        text-decoration: none;
      }
    }
  }
  &__burger {
    background-color: #000000;
    height: 3px;
    width: 30px;
    position: relative;

    & > span::before {
      content: "";
      background-color: #000000;
      position: absolute;
      top: -8px;
      width: 30px;
      height: 3px;
      z-index: 1;
    }
    & > span::after {
      content: "";
      background-color: #000000;
      position: absolute;
      top: 8px;
      width: 30px;
      height: 3px;
      z-index: 1;
    }

    &.open {
      &::after {
        transform: rotate(45deg);
      }
    }
    @media only screen and (min-width: 1024px) {
      display: none;
    }
  }
}

.headline {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* Background styles */
  background-image: url(https://codetheweb.blog/assets/img/posts/full-image-hero/image.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  &__container {
    border: 1px solid black;
    margin: 10rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 25px;

    &--title {
      font-size: 4rem;
    }
    &--options {
      font-size: 2rem;
      padding: 20px 0 20px 0;
    }
    button {
      border-radius: 5px;
      border: none;
      font-size: 1.4rem;
      height: 30px;
      width: 10rem;
      a {
        text-decoration: none;
      }
    }
  }
}

// @media only screen and (min-width: 1024px ) {}

// @media only screen and (max-width: 428px) {
//   .wrapper {
//     border: 3px solid green;
//     width: 100%;
//   }
//   .wrapper__links {
//     display: none;
//   }
// }
// .header {
//   width: 100%;

//   border-bottom: 1px solid green;

//   .wrapper {
//     display: flex;
//     justify-content: space-around;
//     align-items: baseline;
//     height: 18vh;
//     &__home {
//       font-size: 4rem;
//       text-decoration: none;
//       padding-top: 2rem;
//       padding-bottom: 2rem;
//     }

//     &__links {
//       font-size: 1.8rem;
//       // border: 4px solid orange;
//       display: flex;
//       justify-content: space-between;
//       width: 35%;
//       & > * {
//         text-decoration: none;
//       }
//     }
//   }
// }
